<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% block title %}{% endblock %} | Gobernabilidad Trocaire</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<link type="text/css" rel="stylesheet/less" href="/files/css/trogob.css">
<script type="text/javascript" src="/files/js/less.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
{% block extra_head %}
{% endblock %}
</head>
<body>
	<div class="degradado"></div>
	<div class="header">
		<div class="wrapper">
			<div class="logo">
				<a href="/" title="Inicio"><img
					src="/files/img/trocaire-logo-front.png" alt="trocaire logo">
				</a>
			</div>
			<div class="nav">				 
				<a href="/admin/" class="admin_sprite"></a> 
				{% if user.is_authenticated %} 
				<a href="/logout/" class="salir_sprite"></a>
				{% endif %}
			</div>
			<div class="clean"></div>
		</div>
	</div>
	{% block banner %}{% endblock %}
	<div class="content">
		<div class="wrapper">
			{% block content %} 
			{% endblock %}
			<div class="clean"></div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			Desarrollado por <a href="http://simas.org.ni">SIMAS</a> con <a	href="http://djangoproject.com">Django</a> Framework
		</div>
	</div>
</body>
</html>