<div class="selectedfilters" id="barrafiltros">
	<div class="filtroselect">
		Organización<br>
		<span>Simas</span>
	</div>
	<div class="filtroselect">
		Proyecto<br>
		<span>Nombre del proyecto, Nombre del proyecto</span>
	</div>
	<div class="clean"></div>		
</div>
<script type="text/javascript">
	$(document).ready(function(){		
		//ajustando tamaño de los filtros seleccionados
		var alto = $('#barrafiltros').height();
		var filtros = $('.filtroselect');
		$.each(filtros, function(i, item){
			$(item).height(alto);
		});				
	});	
</script>