{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="banner">	
	<div class="index-nav">
		<div class="index-buttons">
			<div class="centrar">
				<div class="navbutton" onclick="window.location.href='/programa/';">
					<center><img src="/files/img/programa.png" alt="Programa"></center>
					<div class="text">						
						<span>Filtros de actividades</span>
						<a href="#">Programa</a>
					</div>
				</div>									
				<div class="navbutton" onclick="window.location.href='/proyecto/';">
					<center><img src="/files/img/proyectos.png" alt="Proyectos"></center>
					<div class="text">
						<span>Filtros de actividades</span>
						<a href="{% url filtro_proyecto %}">Proyectos</a>
					</div>
				</div>				
				<div class="navbutton" onclick="window.location.href='#';">
					<center><img src="/files/img/manual.png" alt="Manual"></center>
					<div class="text">
						<span>Manual de usuario</span>
						<a href="#">Manual</a>
					</div>
				</div>
			</div>
		</div>		
	</div>	
	<div class="clean"></div>
</div>
<div id="index-content">
	<div class="index-left">		
		<div class="index-descrip">
			<div class="caption">
				Programa de Gobernabilidad y Derechos Humanos. Sistema de registro de Actividades.
			</div>
		</div>
		<div class="index-text">
			Mus enim pid penatibus nisi. Adipiscing et porttitor augue. Integer tincidunt, dignissim! In tortor, sagittis nunc hac mid? Ut facilisis, lundium odio mauris porta aenean vut arcu rhoncus elementum? Penatibus? Lorem arcu, velit cursus eu! Magna hac nunc placerat dapibus magna hac sit platea egestas aliquam tincidunt et? Amet sagittis enim pulvinar ac velit mus nec pid scelerisque pellentesque nec? Porta rhoncus Mus enim pid penatibus nisi. Adipiscing et porttitor augue. 
		</div>
	</div>	
	<div class="color-right">	
		<div class="index-right">	
			<div class="title">Organizaciones</div>	
			<div class="index-list">
			{% for org in organizaciones %}
				<div class="index-entry">
					<div class="nombre-corto">{{org.nombre_corto|upper}}</div>
					<div class="nombre-largo">{{org.nombre}}</div>
					<div class="actcount">{{org.actividad_set.all.count}}</div>
				</div>
			{% endfor %}
			</div>			
		</div>
	</div>
	<div class="clean"></div>
</div>
{% endblock %}