*.pyc
*.pyo
*.py~
*.sqlite3
*.db
nbproject/
*.swp
/media/profile/*.*
/g12d/static_media/uploads/
*.pdf
*.xls
*.doc
*.odt
*.svn/*.*
.DS_Store
settings_local.py
*.tar.bz
*.tar
*.tar.bz2
*.tar.gz
.project
.pydevproject
*.sql
