<span id="clippy_tooltip_clippy_117" class="clippy-tooltip tooltipped" title="Copiar URL">
	<object {% if height %}height="{{height}}" {% endif %}{% if width %}width="{{width}}" {% endif %}class="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" style="">
	    <param value="{{STATIC_URL}}clippy/clippy.swf?v5" name="movie">
	    <param value="always" name="allowScriptAccess">
	    <param value="high" name="quality">
	    <param value="noscale" name="scale">
	    <param value="id={{element_id}}&copied=copied!&copyto=copy to clipboard" name="FlashVars">
	    <param value="{{bgcolor}}" name="bgcolor">
	    <param value="{{wmode}}" name="wmode">
	    <embed {% if height %}height="{{height}}" {% endif %}{% if width %}width="{{width}}" {% endif %}wmode="{{wmode}}" bgcolor="{{bgcolor}}" flashvars="id={{element_id}}&copied=copied!&copyto=copy to clipboard" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="{{STATIC_URL}}clippy/clippy.swf?v5">
	</object>
</span>