/* todo lo referente a less */
.box-shadow(@hor: 0px, @vert: 0px, @blur: 5px, @shadow: #929292){
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}
.rounded-corners(@radio: 5px){
    border-radius: @radio;
    -ms-border-radius: @radio;
    -moz-border-radius: @radio;
    -webkit-border-radius: @radio;
    -khtml-border-radius: @radio;
}
.rounded-corners-top(@top: 5px){
	border-radius: @top @top 0px 0px;
    -ms-border-radius: @top @top 0px 0px;
    -moz-border-radius: @top @top 0px 0px;
    -webkit-border-radius: @top @top 0px 0px;
    -khtml-border-radius: @top @top 0px 0px;
}
.left(@width: 300px){
	float: left;
	width: @width;
}
.right(@width: 300px){
	float: right;
	width: @width;
}
.web-font(@size: 13px, @color: #045a8f) {
    font-family: 'Coustard', sans-serif;
    font-size: @size;
    color: @color;           
}
.subraya{
	text-decoration: underline;
}


/* fin de less, inicia el css normal*/
body{
	margin: 0px;
	padding: 0px;	
}
.degradado {
    height: 8px;
    width: 100%;
    background: url(/files/img/degradado.png) repeat-x;
}
.header{
    width: 100%;
    background: url(/files/img/back.jpg) repeat-x;
    height: 70px;
    border-bottom: 1px #fff solid;
}
.wrapper{
    width: 960px;
    margin: 0 auto;    
}
.clean{clear: both;}
img{border: none;}
a{outline: none; text-decoration: none;}
.logo{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.nav{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.admin_sprite{
    background: url(/files/img/admin_sprite.png) no-repeat;
    display: inline-block;
    width: 99px;
    height: 28px;
}
.admin_sprite:hover{
    background-position: 0 -28px;
}
.salir_sprite{
    background: url(/files/img/salir_sprite.png) no-repeat;
    display: inline-block;
    width: 70px;
    height: 28px;
}
.salir_sprite:hover{
    background-position: 0 -28px;
}
.content{
	background-color: #bfbdae;
	padding: 7px 0px;
	.wrapper{
		.box-shadow(0px, 0px, 5px, #929292);
		background-color: #fff;
		.rounded-corners(5px);		
	}	
}
.footer{
    text-align: center;
    font-size: 11px;
    color: #3f3f3f;
    padding-top: 8px;
    padding-bottom: 30px;
    background: url(/files/img/footer_back.png) no-repeat center -70px;
}
.footer a{
    font-weight: bold;
    text-decoration: none;
    color: #3f3f3f;
}
.banner{
	background-color: #e3f3f8;
	.rounded-corners-top(5px);	 	
}
.index-nav{
	.left(550px);
	background: url(/files/img/nav-shadow.png) no-repeat center;
	.index-buttons{
		margin: 0 auto;
		width: 100%;		
		height: 135px;				
		margin: 18px 0px;
		background-color: #e3f3f8;
		.centrar{
			width: 420px;
			margin: 0 auto;
			.navbutton{
				&:hover{
					opacity: 0.9;
					a{
						.web-font(13px, #d51c5b); 
					}
				}
				cursor: pointer;				
				position: relative;
				height: 105px;			
				background: url(/files/img/navbutton.png) repeat-x;
				border: 1px #646464 solid;
				.rounded-corners(3px);
				.left(122px);
				margin: 15px 0px 0px 15px;
				img{margin-top: 20px;}
				a{.web-font(13px, #045a8f);}
				span{
					display: block;
					color: #666;
					font-size: 10px;
					font-weight: bold;
				}
				.text{
					position: absolute;
					bottom: 5px;
					text-align: center;
					width: 100%;
				}
			}
		}				
	}	
}




/*------------------------------ CSS para TABLAS --------------------------------*/
.result_table caption {
	text-align: left;
	font-size: 15px;
	color: #8c8f3d;
	font-family: Trebuchet MS, Verdana, sans-serif;
	padding-left: 13px;
	padding-top: 5px;
}
.result_table th {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	color: #069;
	border-right: 1px solid #ded3ba;
	border-bottom: 1px solid #ded3ba;
	letter-spacing: 1px;
	text-transform: uppercase;	
	padding: 10px 5px 4px 12px;
	background: #EDEBEA url(/files/images/bg_header.png) repeat-x;
	vertical-align: middle;
}
.result_table td {
	font: normal 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #E0DDD2;
	border-bottom: 1px solid #E0DDD2;
	padding: 6px 12px 6px 12px;
	color: #696969;
	background: #FFFFFF;
}