{% extends "base.html" %}
{% block title %}Filtros : Por Proyecto{% endblock %}

{% block extra_head %}
{{form.media}}
{{form.foo}}
<link href="/files/css/formee/css/form-structure.css" rel="stylesheet" type="text/css"/>
<link href="/files/css/formee/css/form-style.css" rel="stylesheet" type="text/css"/>
<link href="/files/css/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#id_meses").multiselect({
	    noneSelectedText: 'Mes',
	    selectedText: '# seleccionados',
	    minWidth: 150	    
	});
});
</script>
<style type="text/css">
	.content .wrapper{
		margin-bottom: 50px;
		margin-top: 15px;
	}
</style>
{% endblock %}

{% block content %}
<div class="banner banner-filtros">	
	<div class="title">Filtros de proyectos</div>
</div>
<div style="width: 960px;">	
	<div class="formfiltros">			
		<center>		
		<form action="." method="post" class="form">
			{% csrf_token %}
			<table>		
				{{form.as_table}}
			</table>
			<input class="form-button" type="submit" value="Consultar" />	
		</form>
		<div>		
		{% for result in resultados %}
		<a href="/proyecto/resultado/{{result.id}}/">{{result.nombre_corto}}</a>
		{% endfor %}
		</div>
		</center>
	</div>
</div>
{% endblock %}