{% load tools %}
<div id="result_table">
	<table class="result_table">
		<thead>			
			<tr>
				<th rowspan="2">{{main_field|unslugify}}</th>
				<th colspan="{{opts2|length}}">{{var2.1|unslugify}}</th>
				{% if total %}
				<th rowspan="2">Total</th>
				{% endif %}				
			</tr>
			<tr>				
				{% for value in opts2 %}
				{% if tipo == 'choice' %}
				<th>{{value.1}}</th>
				{% else %}
				<th>{{value|title}}</th>
				{% endif %}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for key, value in dicc.items %}
			<tr>
				<td>{{key}}</td>
				{% for k in opts2 %}
					{% if tipo == 'choice' %}
					<td>{{value|get_value:k.1|length}}</td>
					{% else %}
					<td>{{value|get_value:k}}</td>
					{% endif %}
				{% endfor %}
				{% if total %}
					{% if tipo == 'choice' %}
					<td>{{value|total_dict_query}}</td>
					{% else %}
					<td>{{value|total_dict}}</td>
					{% endif %}
				{% endif %}
			</tr>			
			{% endfor %}
			{% if total %}
			<tr>
				<td><b>Total</b></td>
				{% for k in opts2 %}  
                <td>{% if tipo == 'choice' %}{{dicc|total_per_query_key:k.1}}{% else %}{{dicc|total_per_key:k}}{% endif %}</td>
                {% endfor %}
                <td>
                {% if tipo == 'choice' %}
                {{dicc|total_general:1}}
                {% else %}
                {{dicc|total_general}}
                {% endif %}
                </td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>