{% extends "base.html" %}

{% block title %}{{request.session.proy_params.organizacion}} | {{resultado.nombre_corto}}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/files/js/underscore-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var elems = $('.unique');		
		$('.unique').click(function(){
			_.each(elems, function(num){ 
				$(num).attr('checked', false);
			});
			$(this).attr('checked', true);
		});
// 		$('#id_pie_graph').click(function(){
// 			$('#id_total').attr('checked', true);
// 		});			
	});
</script>
{% endblock %}

{% block content %}
<div id="subfiltros">
	<form action="." method="post">
	{% csrf_token %}
		<table>
			{{form.as_table}}
		</table>
		<input type="submit" value="Generar tabla" />
	</form>
</div>
{{request.session.var2}}<br>{{request.session.main}}
{% endblock %}