{% extends "base.html" %}

{% block title %}{{request.session.proy_params.organizacion}} | {{resultado.nombre_corto}}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/files/js/underscore-min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var elems = $('.unique');		
		$('.unique').click(function(){
			_.each(elems, function(num){ 
				$(num).attr('checked', false);
			});
			$(this).attr('checked', true);
		});
// 		$('#id_pie_graph').click(function(){
// 			$('#id_total').attr('checked', true);
// 		});	
		$('.recursos').attr("disabled", true);
	});
</script>
<style>
.banner-filtros{	
	height: 60px;
	margin-top: -5px;
	border-top: 6px #fff solid;	
}
</style>
{% endblock %}

{% block content %}
<div class="selectedfilters">
	<div class="filtroselect">
		Organización<br>
		<span>Simas</span>
	</div>
	<div class="filtroselect">
		Proyecto<br>
		<span>Nombre del proyecto, Nombre del proyecto</span>
	</div>
	<div class="clean"></div>		
</div>
<div class="banner banner-filtros">	
</div>
<div id="subfiltros">
	<form action="." method="post">
	{% csrf_token %}
		<table>
			{{form.as_table}}
		</table>
		<input type="submit" value="Generar tabla" />
	</form>
</div>
{{request.session.var2}}<br>{{request.session.main}}
{% endblock %}